<div class="page-wrap">
    <div class="aside-left">
        <div class="card">
            <div class="card-body" [ngClass]="{ 'disabled': loading }">
                <div class="nav-item active">Item Quick Add <i class="vi vi-chevron-right"></i></div>
                <div class="nav-item" (click)="loading ? null : onItemsBatchEntry()">Item Batch Entry</div>
                <div class="nav-item" (click)="loading ? null : onItemsfeaturedGroup()"
                    *ngIf="(categoryTypeId === '1' || categoryTypeId === '2')">Featured Group</div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="nav-item btn-back" (click)="onCancelClick()">Back To Menu <i class="vi vi-chevron-left block"></i></div>
            </div>
        </div>
    </div>
    <div class="aside-right">
        <form [formGroup]="itemQuickAddForm" autocomplete="off">
            <div class="card">
                <div class="card-body">

                    <ng-container *ngIf="(categoryTypeId === '1' || categoryTypeId === '2')">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-title-group first">
                                    <div class="form-title">Basic Information</div>
                                    <div class="form-sub-title">A high-quality image is mandatory. Choose the relevant
                                        category, and sub-category is optional. Specify outlets where the item will be
                                        available. You can select 'None' if the item doesn't belong to any type.</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-wrap">
                            <div class="item-img">
                                <div class="img-wrap" [ngClass]="{'non-blank' : selectedImage}">
                                    <ng-container *ngIf="!selectedImage">
                                        <div>
                                            <label><i class="vi vi-image"></i></label>
                                            <label>Upload Image</label>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="selectedImage">
                                        <img [src]="selectedImage" />
                                        <div class="remove" (click)="removeImage()">Remove</div>
                                    </ng-container>
                                    <input type="file" formControlName="imageUrl" (change)="onImageUpload($event)"
                                        accept="image/*" />
                                </div>
                            </div>
                            <div class="item-info">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <label class="inp-label required">Item Name</label>
                                            <input type="text" class="form-control" formControlName="itemName"
                                                [ngClass]="controlClass('itemName')" />
                                            <span class="focus-border"></span>
                                            <label class="val-msg"
                                                *ngIf="itemQuickAddForm.get('itemName')?.errors?.['maxlength']">Max
                                                Length is 100</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <select-control title="Type" validation="required"
                                            formControlName="itemTypeName" [selectedItem]="itemTypeItem"
                                            [options]="itemTypeOptions" (optionSelected)="selectItemType($event)"
                                            [validationClass]="(itemQuickAddForm.get('itemTypeName')?.invalid && itemQuickAddForm.get('itemTypeName')?.touched) ?? false">
                                        </select-control>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5">
                                        <multi-select-control [title]="'Allowed Outlets'" validation="required"
                                            formControlName="allowedOutlets" [options]="itemUnitOptions"
                                            [selectedItems]="itemUnitItem" (optionSelected)="selectUnitType($event)"
                                            [validationClass]="(itemQuickAddForm.get('allowedOutlets')?.invalid && itemQuickAddForm.get('allowedOutlets')?.touched) ?? false">
                                        </multi-select-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <select-control title="Category" validation="required"
                                            formControlName="categoryName" controlAddType="category"
                                            [selectedItem]="categoryItem" [options]="categoryOptions"
                                            (optionSelected)="selectCategory($event)"
                                            [validationClass]="(itemQuickAddForm.get('categoryName')?.invalid && itemQuickAddForm.get('categoryName')?.touched) ?? false">
                                        </select-control>
                                    </div>
                                    <div class="col-lg-3">
                                        <select-control title="Sub Category" formControlName="subCategoryName"
                                            controlAddType="subCategory" [selectedItem]="subCategoryItem"
                                            [options]="subCategoryOptions" (optionSelected)="selectSubCategory($event)">
                                        </select-control>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="inp-label">Item Description</label>
                                    <textarea class="form-control" formControlName="description"
                                        [ngClass]="controlClass('description')"
                                        placeholder="Provide a brief description of the menu item."></textarea>
                                    <span class="focus-border"></span>
                                    <label class="val-msg"
                                        *ngIf="itemQuickAddForm.get('description')?.errors?.['maxlength']">Max
                                        Length is 500</label>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="(categoryTypeId === '3' || categoryTypeId === '4')">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-title-group first">
                                    <div class="form-title">Basic Information</div>
                                    <div class="form-sub-title">Choose the relevant category, and sub-category is
                                        optional. Specify the outlets where the laundry service will be provided.</div>
                                </div>
                            </div>
                        </div>
                        <div class="item-wrap">
                            <div class="item-info">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="inp-label required">Item Name</label>
                                            <input type="text" class="form-control" formControlName="itemName"
                                                [ngClass]="controlClass('itemName')" />
                                            <span class="focus-border"></span>
                                            <label class="val-msg"
                                                *ngIf="itemQuickAddForm.get('itemName')?.errors?.['maxlength']">Max
                                                Length is 100</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <multi-select-control [title]="'Allowed Outlets'" validation="required"
                                            formControlName="allowedOutlets" [options]="itemUnitOptions"
                                            [selectedItems]="itemUnitItem" (optionSelected)="selectUnitType($event)"
                                            [validationClass]="(itemQuickAddForm.get('allowedOutlets')?.invalid && itemQuickAddForm.get('allowedOutlets')?.touched) ?? false">
                                        </multi-select-control>
                                    </div>
                                    <div class="col-lg-6">
                                        <select-control title="Category" validation="required"
                                            formControlName="categoryName" controlAddType="category"
                                            [selectedItem]="categoryItem" [options]="categoryOptions"
                                            (optionSelected)="selectCategory($event)"
                                            [validationClass]="(itemQuickAddForm.get('categoryName')?.invalid && itemQuickAddForm.get('categoryName')?.touched) ?? false">
                                        </select-control>
                                    </div>
                                    <div class="col-lg-6">
                                        <select-control title="Sub Category" formControlName="subCategoryName"
                                            controlAddType="subCategory" [selectedItem]="subCategoryItem"
                                            [options]="subCategoryOptions" (optionSelected)="selectSubCategory($event)">
                                        </select-control>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="inp-label">Item Description</label>
                                            <textarea class="form-control" formControlName="description"
                                                [ngClass]="controlClass('description')"
                                                placeholder="Provide a brief description of the menu item."></textarea>
                                            <span class="focus-border"></span>
                                            <label class="val-msg"
                                                *ngIf="itemQuickAddForm.get('description')?.errors?.['maxlength']">Max
                                                Length is 500</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-title-group">
                                    <div class="form-title">Item Pricing</div>
                                    <div class="form-sub-title">The pricing for each menu item is defined by the sum of
                                        the
                                        item's base price and applicable tax. The final price is automatically
                                        calculated.
                                        In cases where tax is inclusive, there's no need to enter a separate tax
                                        amount as it is already included in the final price calculation.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="checkbox-list">
                                    <label class="checkbox-container">
                                        <input type="checkbox" formControlName="differentPricing" />
                                        <span class="checkmark"></span>Different Pricing Across Outlets
                                    </label>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="inp-label required">Price</label>
                                    <input type="text" class="form-control price-input" formControlName="itemPrice"
                                        [ngClass]="controlClass('itemPrice')" />
                                    <span class="focus-border"></span>
                                    <label class="price-icon"><i class="vi vi-rupee"></i></label>
                                    <label class="val-msg"
                                        *ngIf="itemQuickAddForm.get('itemPrice')?.errors?.['pattern']">Only Numbers Are
                                        Allowed</label>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="inp-label required">Tax</label>
                                    <input type="text" class="form-control" formControlName="itemTax"
                                        [ngClass]="controlClass('itemTax')" />
                                    <span class="focus-border"></span>
                                    <label class="val-msg"
                                        *ngIf="itemQuickAddForm.get('itemTax')?.errors?.['pattern']">Invalid Tax
                                        Format</label>
                                </div>
                            </div>
                            <div class="col-lg-1 align-self-center ta-c">=</div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label class="inp-label required">Final Price</label>
                                    <input type="number" class="form-control price-input"
                                        formControlName="itemFinalPrice" [ngClass]="controlClass('itemFinalPrice')"
                                        readonly />
                                    <span class="focus-border"></span>
                                    <label class="price-icon"><i class="vi vi-rupee"></i></label>
                                    <label class="val-msg"
                                        *ngIf="itemQuickAddForm.get('itemFinalPrice')?.errors?.['pattern']">Only Numbers
                                        Are
                                        Allowed</label>
                                </div>
                            </div>
                        </div> -->


                        <div formArrayName="itemPriceArray">
                            <div *ngFor="let item of priceInfoArray.controls; let i = index;">
                                <div [formGroupName]="i">
                                    <div class="item-price-wrap">
                                        <div class="outlet-name">Price for {{ getItemOutletValue(i) }}</div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label class="inp-label required">Price</label>
                                                    <input type="text" class="form-control price-input"
                                                        formControlName="itemPrice"
                                                        [ngClass]="controlClass('itemPrice')" />
                                                    <span class="focus-border"></span>
                                                    <label class="price-icon"><i class="vi vi-rupee"></i></label>
                                                    <label class="val-msg"
                                                        *ngIf="itemQuickAddForm.get('itemPrice')?.errors?.['pattern']">Only
                                                        Numbers
                                                        Are
                                                        Allowed</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label class="inp-label required">Package Cost</label>
                                                    <input type="text" class="form-control price-input"
                                                        formControlName="packageCost"
                                                        [ngClass]="controlClass('packageCost')" />
                                                    <span class="focus-border"></span>
                                                    <label class="price-icon"><i class="vi vi-rupee"></i></label>
                                                    <label class="val-msg"
                                                        *ngIf="itemQuickAddForm.get('packageCost')?.errors?.['pattern']">Only
                                                        Numbers
                                                        Are
                                                        Allowed</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div class="form-group">
                                                    <label class="inp-label required">Tax</label>
                                                    <input type="text" class="form-control" formControlName="itemTax"
                                                        [ngClass]="controlClass('itemTax')" />
                                                    <span class="focus-border"></span>
                                                    <label class="val-msg"
                                                        *ngIf="itemQuickAddForm.get('itemTax')?.errors?.['pattern']">Invalid
                                                        Tax
                                                        Format</label>
                                                </div>
                                            </div>
                                            <div class="col-lg-1 align-self-center ta-c">=</div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label>Final Price</label>
                                                    <input type="number" class="form-control price-input"
                                                        formControlName="itemFinalPrice"
                                                        [ngClass]="controlClass('itemFinalPrice')" readonly />
                                                    <span class="focus-border"></span>
                                                    <label class="price-icon"><i class="vi vi-rupee"></i></label>
                                                    <label class="val-msg"
                                                        *ngIf="itemQuickAddForm.get('itemFinalPrice')?.errors?.['pattern']">Only
                                                        Numbers
                                                        Are
                                                        Allowed</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>

                    <ng-container *ngIf="(categoryTypeId === '1' || categoryTypeId === '2')">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-title-group">
                                    <div class="form-title">Item Varients</div>
                                    <div class="form-sub-title">Providing customers with customization options and
                                        additional choices, including various sizes, quantities or types as variants.
                                        While placing an order, customers are required to select exactly one variant of
                                        the item.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="sel-wrap">
                                    <div class="sel-icon"><label><i class="vi vi-bar-o"></i></label></div>
                                    <div class="sel-label">Quantity
                                        <div class="desc">Quantity variations like, Eg: Small, Medium, Large.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="sel-wrap">
                                    <div class="sel-icon"><label><i class="vi vi-bar-o"></i></label></div>
                                    <div class="sel-label">Size
                                        <div class="desc">Different sizes of an item, Eg: Bread size, Pizza Size - 6",
                                            9".
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" *ngIf="categoryTypeId === '1'">
                                <div class="sel-wrap">
                                    <div class="sel-icon"><label><i class="vi vi-bar-o"></i></label></div>
                                    <div class="sel-label">Type
                                        <div class="desc">Item base Type, Such as Wheat bread, Multigrain bread.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="(categoryTypeId === '1' || categoryTypeId === '2')">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-title-group">
                                    <div class="form-title">Item Add-Ons</div>
                                    <div class="form-sub-title">Customization options and additional choices for
                                        customers, including various items such like toppings or other additions as
                                        add-ons. Add-ons can be designated as optional or mandatory based
                                        on customer preferences.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="sel-wrap">
                                    <div class="sel-icon"><label><i class="vi vi-bar-o"></i></label></div>
                                    <div class="sel-label">Add-Ons
                                        <div class="desc">Addons like Sauces, Mayonnaise, Cheese etc.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="sel-wrap">
                                    <div class="sel-icon"><label><i class="vi vi-bar-o"></i></label></div>
                                    <div class="sel-label">Add-On Groups
                                        <div class="desc">A predefined set of one or more add-ons.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
                <div class="card-footer">
                    <div class="footer-group">
                        <div class="checkbox-list">
                            <label class="checkbox-container clear-bottom">
                                <input type="checkbox" formControlName="isAvailable" />
                                <span class="checkmark"></span>Available
                            </label>
                            <label class="checkbox-container clear-bottom">
                                <input type="checkbox" formControlName="isDisplayInMenu" />
                                <span class="checkmark"></span>Display In Menu
                            </label>
                            <label class="checkbox-container clear-bottom"
                                *ngIf="(categoryTypeId === '1' || categoryTypeId === '2')">
                                <input type="checkbox" formControlName="isBestSeller" />
                                <span class="checkmark"></span>Best Seller
                            </label>
                            <label class="checkbox-container clear-bottom" *ngIf="(categoryTypeId === '4')">
                                <input type="checkbox" formControlName="isBestSeller" />
                                <span class="checkmark"></span>Most Demanded
                            </label>
                            <label class="checkbox-container clear-bottom">
                                <input type="checkbox" formControlName="isDisabled" />
                                <span class="checkmark"></span>Disable
                            </label>
                        </div>
                        <div class="btn-list">
                            <button type="button" class="btn btn-success" (click)="onSaveMenuItem()">ADD TO
                                MENU</button>
                            <button type="button" class="btn btn-danger" (click)="onCancelClick()">BACK TO MENU</button>
                        </div>
                    </div>
                </div>
                <div class="loader-wrap" *ngIf="loading">
                    <app-spinner [pageLoader]="loading"></app-spinner>
                </div>
            </div>
        </form>
    </div>

</div>



<app-dialog *ngIf="formChangeWarningDialog" type="confirm" [customClass]="'delete justify'" [title]="'Discard Changes?'"
    [message]="'Are you sure you want to discard the changes? Changes you made may not be saved.'"
    (confirmClick)="onConfirmClearChanges()" (cancelClick)="onCancelClearChanges()"></app-dialog>

<app-dialog *ngIf="formChangeDetectedDialog" type="confirm" [customClass]="'delete justify'"
    [title]="'Discard Changes?'"
    [message]="'Are you sure you want to discard the changes? Changes you made may not be saved.'"
    (confirmClick)="onBackConfirmClick()" (cancelClick)="onCancelClearChanges()"></app-dialog>

<app-toaster *ngIf="alertSuccess" type="success" position="top-right" customClass="" [title]="false"
    message="Great, there's a new addition to the menu!"></app-toaster>