@mixin info-title {
    font-size: 0.7em;
    font-weight: 500;
    color: #b4aeae;
    line-height: 1.25;
    text-transform: uppercase;
}
@mixin info-value {
    line-height: 1.4;
    color: #555f57;
    min-height: 19px;
    font-size: 1em;
}
.page-header {
    display: flex;
    padding: 15px 0;
    position: relative;
    align-items: center;
    margin-bottom: 0.5rem;
    padding-bottom: 0.75rem;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    .ph-title {
        font-weight: 600;
        font-size: 1.1em;
        line-height: 1.4;
        color: #188184;
        letter-spacing: 0.015rem;
    }
    .ph-sub-title {
        font-size: 0.975em;
    }
    .btn {
        i {
            top: 3px;
            color: #ffffff;
            font-weight: 400;
            padding-right: 7px;
        }
    }
}
.page-content {
    padding: 15px 0 0;
    .card {
        .card-header {
            padding: 0 1.5rem;
            color: #99012a;
        }
        .card-body {
            padding: 1rem 0.75rem;
            .checkbox-list {
                margin: 0.75rem 0;
            }
        }
        .card-footer {
            display: flex;
            align-items: center;
            padding: 0.75rem 1.5rem;
            justify-content: flex-end;
            .btn-list {
                .btn {
                    min-width: 110px;
                }
            }
        }
        &.outlet-card {
            margin-bottom: 1.5rem;
            .card-header {
                height: 53px;
                display: flex;
                border-bottom: 0;
                padding: 0 1.5rem;
                background: #e9f2ff;
                justify-content: space-between;
                .card-aside-left,
                .card-aside-right {
                    display: flex;
                    align-items: center;
                }
                .card-aside-left {
                    .unit-count {
                        width: 30px;
                        height: 28px;
                        font-size: 16px;
                        font-weight: 700;
                        color: #ffffff;
                        line-height: 28px;
                        margin-right: 20px;
                        text-align: center;
                        background: linear-gradient(142deg, #5e9c9e 50%, #429598 50%);
                        background: linear-gradient(142deg, #fccd4d 50%, #f9b800 50%);
                    }
                    .unit-info {
                        line-height: 1.2;
                        color: #3e35ac;
                        color: #317b7d;
                        letter-spacing: 0.015rem;
                        text-transform: uppercase;
                        .unit-name {
                            font-size: 1.05em;
                            font-weight: 700;
                        }
                        .unit-type {
                            font-weight: 500;
                            font-size: 0.68em;
                            padding-left: 1px;
                        }
                    }
                }
                .card-aside-right {
                    .indicator {
                        line-height: 1;
                        margin-left: 10px;
                        padding-left: 10px;
                        border-left: 1px solid #b5c3d8;
                        &:first-child {
                            margin-left: 0;
                            border-left: 0;
                            padding-left: 0;
                        }
                        .switch-container {
                            top: 2px;
                        }
                    }
                    label {
                        font-size: 0.9em;
                        color: #157d15;
                        padding-right: 6px;
                        text-transform: uppercase;
                        i {
                            top: 0;
                            font-size: 20px;
                            font-weight: 400;
                            vertical-align: sub;
                        }
                        &.online {
                            min-width: 56px;
                            color: #157d15;
                        }
                        &.offline {
                            min-width: 56px;
                            color: #ff0000;
                        }
                    }
                }
            }
            .card-body {
                padding: 1rem 0.75rem;
                .info-group {
                    margin-bottom: 12px;
                    .info-title {
                        @include info-title;
                    }
                    .info-value {
                        @include info-value;
                        i {
                            top: 1px;
                            font-size: 14px;
                            font-weight: 400;
                            padding-right: 7px;
                            &.vi-clock-o {
                                color: #a978ff;
                            }
                        }
                    }
                }
                .qr-wrap {
                    text-align: right;
                    .qr-code-display {
                        top: -45px;
                        width: 150px;
                        height: 150px;
                        position: relative;
                        box-shadow: 0 0 5px -1px #9a9a9a;
                    }
                }
                .btn-edit {
                    width: 100%;
                    cursor: pointer;
                    margin: 0.5rem 0;
                    font-weight: 500;
                    color: #99012a;
                    font-size: 0.85em;
                    text-align: center;
                    text-transform: uppercase;
                    i {
                        top: 1px;
                        color: inherit;
                        font-size: 13px;
                        padding-right: 7px;
                    }
                    &:hover {
                        color: #d8023c;
                    }
                }
            }
            .card-header {
                padding-right: 200px;
            }
        }
        &.non-assigned {
            user-select: none;
            cursor: not-allowed;
            filter: grayscale(100%);
            i,
            label {
                cursor: not-allowed !important;
            }
            .qr-code-display {
                opacity: 0.5;
            }
            .info-group {
                opacity: 0.7;
            }
        }
        &.skeleton-card {
            .skeleton-box {
                height: 16px;
                overflow: hidden;
                border-bottom: 0;
                position: relative;
                background-color: #f7f7f7;
            }
            .card-header {
                height: 45px;
            }
            .card-body {
                height: 150px;
                padding: 1.5rem 1rem;
                .skeleton-box {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}
