<div class="page-wrap">
    <div class="aside-left"
        *ngIf="(categoryTypeId.includes('1') || categoryTypeId.includes('2') || categoryTypeId.includes('3') || categoryTypeId.includes('4'))">
        <div class="card">
            <div class="card-body" [ngClass]="{ 'disabled': innerLoading }">
                <div class="nav-item" [ngClass]="{ 'active': activeCategory === '1' }"
                    *ngIf="categoryTypeId.includes('1')" (click)="innerLoading ? null : selectCategoryType('1')">
                    Restaurant <i class="vi vi-chevron-right"></i>
                </div>
                <div class="nav-item" [ngClass]="{ 'active': activeCategory === '2' }"
                    *ngIf="categoryTypeId.includes('2')" (click)="innerLoading ? null : selectCategoryType('2')">
                    Beverage <i class="vi vi-chevron-right"></i>
                </div>
                <div class="nav-item" [ngClass]="{ 'active': activeCategory === '3' }"
                    *ngIf="categoryTypeId.includes('3')" (click)="innerLoading ? null : selectCategoryType('3')">
                    Laundry <i class="vi vi-chevron-right"></i>
                </div>
                <div class="nav-item" [ngClass]="{ 'active': activeCategory === '4' }"
                    *ngIf="categoryTypeId.includes('4')" (click)="innerLoading ? null : selectCategoryType('4')">
                    Spa / Salon <i class="vi vi-chevron-right"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="aside-right">
        <div class="card">
            <div class="card-header">
                <div class="header-title">
                    <label *ngIf="activeCategory === '1'">Restaurant / Cafe Categories</label>
                    <label *ngIf="activeCategory === '2'">Beverage / Bar Categories</label>
                    <label *ngIf="activeCategory === '3'">Laundry / Pressing Categories</label>
                    <label *ngIf="activeCategory === '4'">Spa / Salon Categories</label>
                    <span *ngIf="!innerLoading">({{ categories.length }})</span>
                </div>
                <div class="header-action">
                    <button type="button" class="btn btn-xs btn-primary" (click)="onCreateCategorgyNew()"
                        *ngIf="!innerLoading && categories.length > 0">CREATE NEW</button>
                </div>
            </div>

            <ng-container *ngIf="!innerLoading && categories.length > 0">
                <div class="card-body">
                    <div cdkDropList (cdkDropListDropped)="onDrop($event)">
                        <div class="categories" *ngFor="let category of categories; let i = index" cdkDrag
                            cdkDragAutoScroll>
                            <div class="list-item">
                                <div class="item-name">
                                    <label><i class="vi vi-drag"></i></label>{{ category.categoryName }}
                                </div>
                                <div class="item-actions">
                                    <label class="btn-action" title="Edit" (click)="editCategory(i)">
                                        <i class="vi vi-pencil"></i>
                                    </label>
                                    <label class="btn-action" title="Delete" (click)="requestDeleteCategory(i)">
                                        <i class="vi vi-trash"></i>
                                    </label>
                                </div>
                            </div>
                            <div class="sub-categories" *ngIf="category.subcategory" cdkDropList
                                (cdkDropListDropped)="onSubcategoryDrop(i, $event)">
                                <div class="list-item" *ngFor="let subcategory of category.subcategory; let j = index"
                                    cdkDrag cdkDragAutoScroll>
                                    <div class="item-name">
                                        <label><i class="vi vi-drag"></i></label>{{ subcategory.subCategoryName }}
                                    </div>
                                    <div class="item-actions">
                                        <label class="btn-action" title="Edit" (click)="editSubcategory(i, j)">
                                            <i class="vi vi-pencil"></i>
                                        </label>
                                        <label class="btn-action" title="Delete"
                                            (click)="requestDeleteSubcategory(i, j)">
                                            <i class="vi vi-trash"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer btn-list">
                    <button type="button" class="btn btn-success" (click)="onSaveCategoryChanges()">SAVE
                        CHANGES</button>
                    <button type="button" class="btn btn-danger" (click)="onCancelClick()">CANCEL</button>
                </div>
            </ng-container>

            <ng-container *ngIf="innerLoading || categories.length === 0">
                <div class="card-body" [ngClass]="{'show-msg' : !innerLoading}">
                    <ng-container *ngIf="innerLoading || (innerLoading && categories.length === 0)">
                        <div class="categories skeleton-wrap" *ngFor="let item of skeletonCardItems; let i = index">
                            <div class="list-item">
                                <div class="skeleton-box skeleton-loader w-100"></div>
                            </div>
                            <div class="sub-categories">
                                <div class="list-item">
                                    <div class="skeleton-box skeleton-loader w-100"></div>
                                </div>
                                <div class="list-item">
                                    <div class="skeleton-box skeleton-loader w-100"></div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!innerLoading && categories.length === 0">
                        <div class="no-record">
                            <div class="ta-c">
                                <div class="nr-img"><img src="../../../assets/images/general/empty.webp" /></div>
                                <div class="title-lg">No Categories Found!</div>
                                <div class="title-md">It seems you haven't added any categories yet.
                                </div>
                                <div class="title-md">Create categories and its subcategories to organize
                                    the menu items.</div>
                                <div class="nr-action">
                                    <button type="button" class="btn btn-info" (click)="onCreateCategorgyNew()">ADD
                                        NEW</button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

        </div>
        <div class="loader-wrap" *ngIf="loading">
            <app-spinner [pageLoader]="loading"></app-spinner>
        </div>
    </div>
</div>


<app-modal *ngIf="openCategoryModal" (closed)="onModalClosed()" [header]="'show'" [modalTitle]="'CREATE NEW'"
    [customClass]="'modal-sm'">
    <div class="modal-body">
        <div class="item-sel">
            <div class="form-group">
                <div class="radio-list">
                    <label class="radio-container" *ngIf="!isEditingSubCategory">
                        <input type="radio" [(ngModel)]="selectedOption" value="category"
                            (change)="onRadioChange('category')" />Category
                        <span class="checkmark"></span>
                    </label>
                    <ng-container *ngIf="!innerLoading && categories.length > 0">
                        <label class="radio-container" *ngIf="!isEditingCategory">
                            <input type="radio" [(ngModel)]="selectedOption" value="sub-category"
                                (change)="onRadioChange('sub-category')" />Sub-Category
                            <span class="checkmark"></span>
                        </label>
                    </ng-container>
                </div>
            </div>
        </div>
        <ng-container *ngIf="selectedOption === 'category'">
            <app-add-category [categories]="categories" [activeCategory]="activeCategory"
                [editingCategoryIndex]="editingCategoryIndex" (cancelClicked)="onCancelClicked()"></app-add-category>
        </ng-container>


        <ng-container *ngIf="selectedOption === 'sub-category'">
            <ng-container *ngIf="editingCategoryIndex == null && editingCategoryIndex == undefined">
                <app-add-subcategory [activeCategory]="activeCategory"
                    [editingSubCategoryIndex]="editingSubCategoryIndex"
                    (cancelClicked)="onCancelClicked()"></app-add-subcategory>
            </ng-container>
            <ng-container *ngIf="editingCategoryIndex !== null && editingCategoryIndex !== undefined">
                <app-add-subcategory [activeCategory]="activeCategory"
                    [subcategories]="categories[editingCategoryIndex]?.subcategory"
                    [editingSubCategoryIndex]="editingSubCategoryIndex"
                    [categoryName]="categories[editingCategoryIndex]?.categoryName"
                    (cancelClicked)="onCancelClicked()"></app-add-subcategory>
            </ng-container>
        </ng-container>
    </div>
</app-modal>

<app-dialog *ngIf="selectedCategoryIndex !== undefined && deleteMode === 'category'" type="confirm"
    [customClass]="'delete justify'" [title]="'Are you sure?'"
    [message]="'Are you sure you want to delete this category? Deleting the category will also remove all of its associated subcategories, if any. This action cannot be restore.'"
    (confirmClick)="onConfirmDeleteCategory(selectedCategoryIndex)"
    (cancelClick)="onCancelDeleteCategory()"></app-dialog>

<app-dialog
    *ngIf="selectedCategoryIndex !== undefined && selectedSubCategoryIndex !== undefined && deleteMode === 'subcategory'"
    type="confirm" [customClass]="'delete justify'" [title]="'Are you sure?'"
    [message]="'Are you sure you want to delete this Sub-Category? This record cannot be restored.'"
    (confirmClick)="onConfirmDeleteSubCategory(selectedCategoryIndex!, selectedSubCategoryIndex!)"
    (cancelClick)="onCancelDeleteSubCategory()"></app-dialog>

<app-dialog *ngIf="categoryDeleteInfoDialog" type="info" [title]="'Oops, Couldnt Delete!'"
    [message]="'Sorry, the category cannot be deleted as it currently contains subcategories and menu items. Please delete them before attempting to delete this category.'"
    (cancelClick)="onCancelDialog()"></app-dialog>

<app-dialog *ngIf="subCategoryDeleteInfoDialog" type="info" [title]="'Oops, Couldnt Delete!'"
    [message]="'Sorry, the sub category cannot be deleted as it currently contains menu items. Please delete them before attempting to delete this sub category.'"
    (cancelClick)="onCancelDialog()"></app-dialog>

<app-toaster *ngIf="alertSuccess" type="success" position="top-right" customClass="" [title]="false"
    message="Great, Applied changes saved to the menu!"></app-toaster>