.page-nav-group {
    display: grid;
    padding: 25px;
    column-gap: 2em;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    .card {
        cursor: pointer;
        min-height: 160px;
        margin-bottom: 2em;
        border-radius: 5px;
        .card-body {
            border-radius: inherit;
        }
    }
}