@font-face {
    font-family: "icomoon";
    src: url("../assets/fonts/icomoon.eot?gx9us0");
    src:
        url("../assets/fonts/icomoon.eot?gx9us0#iefix") format("embedded-opentype"),
        url("../assets/fonts/icomoon.ttf?gx9us0") format("truetype"),
        url("../assets/fonts/icomoon.woff?gx9us0") format("woff"),
        url("../assets/fonts/icomoon.svg?gx9us0#icomoon") format("svg");
}

.vi {
    z-index: 0;
    line-height: 1;
    cursor: pointer;
    font-size: 1rem;
    color: $app-icon;
    font-weight: 600;
    position: relative;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    font-family: "icomoon" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vi-degree:before {
    content: "\e900";
}
.vi-address-card:before {
    content: "\e901";
}
.vi-address-card-o:before {
    content: "\e902";
}
.vi-admin:before {
    content: "\e903";
}
.vi-alph-p-o:before {
    content: "\e904";
}
.vi-arrow-down:before {
    content: "\e905";
}
.vi-arrow-left:before {
    content: "\e906";
}
.vi-arrow-right:before {
    content: "\e907";
}
.vi-arrow-up:before {
    content: "\e908";
}
.vi-authorization:before {
    content: "\e909";
}
.vi-authorization-o:before {
    content: "\e90a";
}
.vi-award:before {
    content: "\e90b";
}
.vi-backward:before {
    content: "\e90c";
}
.vi-backward-all:before {
    content: "\e90d";
}
.vi-bar-o:before {
    content: "\e90e";
}
.vi-bed-o:before {
    content: "\e90f";
}
.vi-bell:before {
    content: "\e910";
}
.vi-bell-off:before {
    content: "\e911";
}
.vi-book-o:before {
    content: "\e912";
}
.vi-book-text-o .path1:before {
    content: "\e913";
    color: rgb(0, 0, 0);
}
.vi-book-text-o .path2:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(242, 242, 242);
}
.vi-book-text-o .path3:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(243, 243, 243);
}
.vi-book-text-o .path4:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(242, 242, 242);
}
.vi-book-text-o .path5:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(242, 242, 242);
}
.vi-building:before {
    content: "\e918";
}
.vi-bulb:before {
    content: "\e919";
}
.vi-bullhorn:before {
    content: "\e91a";
}
.vi-bullhorn-o:before {
    content: "\e91b";
}
.vi-calculator:before {
    content: "\e91c";
}
.vi-calculator-o:before {
    content: "\e91d";
}
.vi-calendar:before {
    content: "\e91e";
}
.vi-calendar-blank:before {
    content: "\e91f";
}
.vi-calendar-date:before {
    content: "\e920";
}
.vi-calendar-o:before {
    content: "\e921";
}
.vi-camera:before {
    content: "\e922";
}
.vi-camera-o:before {
    content: "\e923";
}
.vi-category:before {
    content: "\e924";
}
.vi-category-o:before {
    content: "\e925";
}
.vi-chat:before {
    content: "\e926";
}
.vi-chats:before {
    content: "\e927";
}
.vi-check:before {
    content: "\e928";
}
.vi-check-circle:before {
    content: "\e929";
}
.vi-check-circle-o:before {
    content: "\e92a";
}
.vi-chevron-double-left:before {
    content: "\e92b";
}
.vi-chevron-double-right:before {
    content: "\e92c";
}
.vi-chevron-down:before {
    content: "\e92d";
}
.vi-chevron-left:before {
    content: "\e92e";
}
.vi-chevron-right:before {
    content: "\e92f";
}
.vi-chevron-up:before {
    content: "\e930";
}
.vi-cleaning-o:before {
    content: "\e931";
}
.vi-cleaning-staff-o:before {
    content: "\e932";
}
.vi-clear-back:before {
    content: "\e933";
}
.vi-clipboard:before {
    content: "\e934";
}
.vi-clock:before {
    content: "\e935";
}
.vi-clock-o:before {
    content: "\e936";
}
.vi-close:before {
    content: "\e937";
}
.vi-cog:before {
    content: "\e938";
}
.vi-cog-o:before {
    content: "\e939";
}
.vi-collapse:before {
    content: "\e93a";
}
.vi-copy:before {
    content: "\e93b";
}
.vi-crown-o:before {
    content: "\e93c";
}
.vi-dine-group-o:before {
    content: "\e93d";
}
.vi-dine-o:before {
    content: "\e93e";
}
.vi-disabled:before {
    content: "\e93f";
}
.vi-discount:before {
    content: "\e940";
}
.vi-discount-o:before {
    content: "\e941";
}
.vi-drag:before {
    content: "\e942";
}
.vi-employee-key-o:before {
    content: "\e943";
}
.vi-employee-o:before {
    content: "\e944";
}
.vi-employee-phone-o:before {
    content: "\e945";
}
.vi-employee-schedule-o:before {
    content: "\e946";
}
.vi-envelope:before {
    content: "\e947";
}
.vi-envelope-o:before {
    content: "\e948";
}
.vi-expand:before {
    content: "\e949";
}
.vi-eye:before {
    content: "\e94a";
}
.vi-eye-off:before {
    content: "\e94b";
}
.vi-file:before {
    content: "\e94c";
}
.vi-file-attach:before {
    content: "\e94d";
}
.vi-file-download:before {
    content: "\e94e";
}
.vi-file-forward:before {
    content: "\e94f";
}
.vi-file-pdf:before {
    content: "\e950";
}
.vi-file-text:before {
    content: "\e951";
}
.vi-file-text-o:before {
    content: "\e952";
}
.vi-file-upload:before {
    content: "\e953";
}
.vi-filter:before {
    content: "\e954";
}
.vi-filter-list:before {
    content: "\e955";
}
.vi-filter-o:before {
    content: "\e956";
}
.vi-gmail:before {
    content: "\e957";
}
.vi-grid:before {
    content: "\e958";
}
.vi-grid-four:before {
    content: "\e959";
}
.vi-grid-six:before {
    content: "\e95a";
}
.vi-headphone:before {
    content: "\e95b";
}
.vi-heart:before {
    content: "\e95c";
}
.vi-heart-o:before {
    content: "\e95d";
}
.vi-help-circle:before {
    content: "\e95e";
}
.vi-help-circle-o:before {
    content: "\e95f";
}
.vi-home:before {
    content: "\e960";
}
.vi-home-o:before {
    content: "\e961";
}
.vi-horizontal-view:before {
    content: "\e962";
}
.vi-image:before {
    content: "\e963";
}
.vi-image-attach:before {
    content: "\e964";
}
.vi-info-circle:before {
    content: "\e965";
}
.vi-info-circle-o:before {
    content: "\e966";
}
.vi-insights:before {
    content: "\e967";
}
.vi-insights-o:before {
    content: "\e968";
}
.vi-key:before {
    content: "\e969";
}
.vi-laundry-o:before {
    content: "\e96a";
}
.vi-layer:before {
    content: "\e96b";
}
.vi-list:before {
    content: "\e96c";
}
.vi-list-o:before {
    content: "\e96d";
}
.vi-lock:before {
    content: "\e96e";
}
.vi-lock-open:before {
    content: "\e96f";
}
.vi-map:before {
    content: "\e970";
}
.vi-map-o:before {
    content: "\e971";
}
.vi-maximize:before {
    content: "\e972";
}
.vi-menu:before {
    content: "\e973";
}
.vi-menu-category-o:before {
    content: "\e974";
}
.vi-menu-o:before {
    content: "\e975";
}
.vi-mic:before {
    content: "\e976";
}
.vi-mic-disable:before {
    content: "\e977";
}
.vi-mic-disable-o:before {
    content: "\e978";
}
.vi-minimize:before {
    content: "\e979";
}
.vi-moon:before {
    content: "\e97a";
}
.vi-moon-o:before {
    content: "\e97b";
}
.vi-moon-star-o:before {
    content: "\e97c";
}
.vi-more-horizontal:before {
    content: "\e97d";
}
.vi-more-vertical:before {
    content: "\e97e";
}
.vi-non-veg:before {
    content: "\e97f";
}
.vi-ordered-list:before {
    content: "\e980";
}
.vi-others:before {
    content: "\e981";
}
.vi-others-o:before {
    content: "\e982";
}
.vi-outlet-o:before {
    content: "\e983";
}
.vi-paper-clip:before {
    content: "\e984";
}
.vi-parking-o:before {
    content: "\e985";
}
.vi-pdf:before {
    content: "\e986";
}
.vi-pencil:before {
    content: "\e987";
}
.vi-pencil-o:before {
    content: "\e988";
}
.vi-plus:before {
    content: "\e989";
}
.vi-plus-circle:before {
    content: "\e98a";
}
.vi-plus-circle-o:before {
    content: "\e98b";
}
.vi-power-off:before {
    content: "\e98c";
}
.vi-print:before {
    content: "\e98d";
}
.vi-puzzle:before {
    content: "\e98e";
}
.vi-puzzles:before {
    content: "\e98f";
}
.vi-qr-code:before {
    content: "\e990";
}
.vi-qr-scan:before {
    content: "\e991";
}
.vi-rating-o:before {
    content: "\e992";
}
.vi-receipt-o:before {
    content: "\e993";
}
.vi-reception-o:before {
    content: "\e994";
}
.vi-redo:before {
    content: "\e995";
}
.vi-refresh:before {
    content: "\e996";
}
.vi-restaurant-o:before {
    content: "\e997";
}
.vi-room-cleaning-o:before {
    content: "\e998";
}
.vi-room-guest-o:before {
    content: "\e999";
}
.vi-room-o:before {
    content: "\e99a";
}
.vi-room-occupied-o:before {
    content: "\e99b";
}
.vi-rupee:before {
    content: "\e99c";
}
.vi-search:before {
    content: "\e99d";
}
.vi-search-adv:before {
    content: "\e99e";
}
.vi-search-key:before {
    content: "\e99f";
}
.vi-search-number:before {
    content: "\e9a0";
}
.vi-search-text:before {
    content: "\e9a1";
}
.vi-sections:before {
    content: "\e9a2";
}
.vi-server:before {
    content: "\e9a3";
}
.vi-service-category:before {
    content: "\e9a4";
}
.vi-shopping-bag:before {
    content: "\e9a5";
}
.vi-shopping-cart:before {
    content: "\e9a6";
}
.vi-spa-o:before {
    content: "\e9a7";
}
.vi-star:before {
    content: "\e9a8";
}
.vi-star-o:before {
    content: "\e9a9";
}
.vi-sun:before {
    content: "\e9aa";
}
.vi-sun-o:before {
    content: "\e9ab";
}
.vi-telephone-call:before {
    content: "\e9ac";
}
.vi-telephone-calling-o:before {
    content: "\e9ad";
}
.vi-telephone-circle-o:before {
    content: "\e9ae";
}
.vi-telephone-o:before {
    content: "\e9af";
}
.vi-thumbs-down:before {
    content: "\e9b0";
}
.vi-thumbs-up:before {
    content: "\e9b1";
}
.vi-ticket:before {
    content: "\e9b2";
}
.vi-ticket-o:before {
    content: "\e9b3";
}
.vi-time:before {
    content: "\e9b4";
}
.vi-timepiece:before {
    content: "\e9b5";
}
.vi-time-previous:before {
    content: "\e9b6";
}
.vi-time-reset:before {
    content: "\e9b7";
}
.vi-toggle:before {
    content: "\e9b8";
}
.vi-trash:before {
    content: "\e9b9";
}
.vi-trash-empty:before {
    content: "\e9ba";
}
.vi-tree-view:before {
    content: "\e9bb";
}
.vi-trend-line:before {
    content: "\e9bc";
}
.vi-trend-line-down:before {
    content: "\e9bd";
}
.vi-trend-line-up:before {
    content: "\e9be";
}
.vi-user:before {
    content: "\e9bf";
}
.vi-user-discussion-o:before {
    content: "\e9c0";
}
.vi-user-feedback-o:before {
    content: "\e9c1";
}
.vi-user-group-feedback-o:before {
    content: "\e9c2";
}
.vi-user-group-o:before {
    content: "\e9c3";
}
.vi-user-lead-o:before {
    content: "\e9c4";
}
.vi-user-o:before {
    content: "\e9c5";
}
.vi-valet-parking-o:before {
    content: "\e9c6";
}
.vi-veg:before {
    content: "\e9c7";
}
.vi-veg-egg:before {
    content: "\e9c8";
}
.vi-veg-restaurant:before {
    content: "\e9c9";
}
.vi-wallet:before {
    content: "\e9ca";
}
.vi-warning:before {
    content: "\e9cb";
}
.vi-warning-o:before {
    content: "\e9cc";
}
.vi-washing:before {
    content: "\e9cd";
}
.vi-washing-machine-o:before {
    content: "\e9ce";
}
.vi-whatsapp:before {
    content: "\e9cf";
}
.vi-whatsapp-o:before {
    content: "\e9d0";
}
