<div class="app-container open">
    <div class="app-navbar">
        <app-navbar (tabClicked)="onTabClicked($event)"></app-navbar>
    </div>
    <div class="app-body">
        <app-header [pageName]="pageName"></app-header>
        <div class="page-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <app-dialog *ngIf="internalServerErrorDialog" type="info" [customClass]="'delete justify'"
    [title]="'Oops, Internal Server Error!'"
    [message]="'Sorry, something went wrong. Please try after sometime. If the issue persists, dont hesitate to contact our support team for assistance.'"
    (cancelClick)="onCancelDialog()"></app-dialog> -->