<ng-container *ngIf="allemployeeList">
    <div class="page-header">
        <div>
            <div>User Management</div>
            <div>Manage your users and their account permissions here.</div>
        </div>
        <div>
            <button type="button" class="btn btn-xs btn-primary" (click)="registerNewUser()">ADD NEW USER</button>
        </div>
    </div>
    <div class="page-content">
        <ng-container *ngFor="let role of users">
            <div class="content-group">
                <div class="lt-content">
                    <div class="title-group">
                        <div class="title-lg">{{ role.userRole }}</div>
                        <div class="title-info">Admin users can add, edit, disable and remove organizational level
                            settings</div>
                    </div>
                </div>
                <div class="rt-content">
                    <div class="table-container">
                        <table class="table user-table">
                            <thead>
                                <tr>
                                    <th style="min-width: 165px; max-width: 25%;">Name</th>
                                    <th style="min-width: 235px; max-width: 35%;">Assigned Outlets</th>
                                    <th style="min-width: 165px; max-width: 25%;">Last Active</th>
                                    <th style="min-width: 100px; max-width: 15%; text-align: center;">Status</th>
                                    <!-- <th style="width: 50px;"></th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of role.items" (click)="showUserProfie()">
                                    <td style="min-width: 165px; max-width: 25%;">{{ user.userName }}</td>
                                    <td style="min-width: 235px; max-width: 35%;">{{ user.assignedUnits }}</td>
                                    <td style="min-width: 165px; max-width: 25%;">{{ user.lastActive }}</td>
                                    <td style="min-width: 100px; max-width: 15%; text-align: center;">Active</td>
                                    <!-- <td style="width: 50px;" class="item-actions">
                                    <label class="btn-action">
                                        <i class="vi vi-eye"></i>
                                    </label>
                                </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</ng-container>
<ng-container *ngIf="employeeProfile">
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12 col-center">
                <div class="card">
                    <div class="card-body">
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <div>Vishnu Anandababu</div>
                                <div>+91 8089583858</div>
                                <div>vishnuanandababu@gmail.com</div>
                            </div>
                            <div style="text-align: right;">
                                <div>Active</div>
                                <div>Order Manager</div>
                                <div>Member Since Jun, 2022</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card info-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="info-group">
                                    <div class="info-title">Primary Contact No</div>
                                    <div class="info-value">+91 8089583858</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="info-group">
                                    <div class="info-title">Alternate Contact No</div>
                                    <div class="info-value">+91 9567583858</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="info-group">
                                    <div class="info-title">Emergency Contact No</div>
                                    <div class="info-value">+91 9567583858</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="info-group">
                                    <div class="info-title">Sponsor Name</div>
                                    <div class="info-value">Ananda Babu</div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="info-group">
                                    <div class="info-title">Sponsor Contact No</div>
                                    <div class="info-value">+91 9567583858</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card info-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="info-group">
                                    <div class="info-title">Age</div>
                                    <div class="info-value">24 Year 3 Months</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="info-group">
                                    <div class="info-title">Date of Birth</div>
                                    <div class="info-value">11 June, 1994</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="info-group">
                                    <div class="info-title">Gender</div>
                                    <div class="info-value">Male</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="info-group">
                                    <div class="info-title">Marital Status</div>
                                    <div class="info-value">Single</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="info-group">
                                    <div class="info-title">Nationality</div>
                                    <div class="info-value">Indian</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="info-group">
                                    <div class="info-title">Aadhaar</div>
                                    <div class="info-value">8084 3456 5645</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card info-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="info-group">
                                    <div class="info-title">Job Title / Designation</div>
                                    <div class="info-value">Chief Excecutive Chef</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="info-group">
                                    <div class="info-title">Employee Id</div>
                                    <div class="info-value">EMP-344</div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="info-group">
                                    <div class="info-title">Date of Joined</div>
                                    <div class="info-value">EMP-344</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="employeeRegForm">
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12 col-center">
                <form [formGroup]="userRegistrationForm" autocomplete="off">
                    <div class="card reg-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-title-group first">
                                        <div class="form-title">Basic Information</div>
                                        <div class="form-sub-title">Capture essential personal details for user
                                            identification.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label required">First Name</label>
                                        <input type="text" class="form-control" formControlName="userFirstName"
                                            [ngClass]="controlClass('userFirstName')" />
                                        <span class="focus-border"></span>
                                        <label class="val-msg"
                                            *ngIf="userRegistrationForm.get('userFirstName')?.errors?.['maxlength']">Max
                                            Length is 20</label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label required">Last Name</label>
                                        <input type="text" class="form-control" formControlName="userLastName"
                                            [ngClass]="controlClass('userLastName')" />
                                        <span class="focus-border"></span>
                                        <label class="val-msg"
                                            *ngIf="userRegistrationForm.get('userLastName')?.errors?.['maxlength']">Max
                                            Length is 30</label>
                                    </div>
                                </div>
                                <ng-container formGroupName="personalInfo">
                                    <div class="col-lg-4">
                                        <select-control title="Gender" validation="required" formControlName="gender"
                                            [selectedItem]="genderItem" [options]="genderOptions"
                                            (optionSelected)="selectGender($event)"
                                            [validationClass]="(userRegistrationForm.get('personalInfo.gender')?.invalid && userRegistrationForm.get('personalInfo.gender')?.touched) ?? false">
                                        </select-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label">Date of Birth</label>
                                            <input type="date" class="form-control cal-input"
                                                formControlName="dateOfBirth"
                                                [ngClass]="controlClass('personalInfo.dateOfBirth')"
                                                (change)="calculateAge()" />
                                            <span class="focus-border"></span>
                                            <label class="cal-icon"><i class="vi vi-calendar"></i></label>
                                            <label class="val-msg"
                                                *ngIf="userRegistrationForm.get('personalInfo.dateOfBirth')?.errors?.['invalidAge'] && userRegistrationForm.get('personalInfo.dateOfBirth')?.value !== '' && userRegistrationForm.get('personalInfo.dateOfBirth')?.value !== null">Under
                                                Age</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label">Age</label>
                                            <input type="number" class="form-control" formControlName="age"
                                                [ngClass]="{'is-invalid': (userRegistrationForm.get('personalInfo.age')?.errors?.['invalidAge'] && userRegistrationForm.get('personalInfo.age')?.value !== '' && userRegistrationForm.get('personalInfo.age')?.value !== null) || (userRegistrationForm.get('personalInfo.age')?.errors?.['invalidAge'] && userRegistrationForm.get('personalInfo.age')?.touched)}" />
                                            <span class="focus-border"></span>
                                            <label class="val-msg"
                                                *ngIf="userRegistrationForm.get('personalInfo.age')?.errors?.['invalidAge'] && userRegistrationForm.get('personalInfo.age')?.value !== '' && userRegistrationForm.get('personalInfo.age')?.value !== null">Must
                                                be 18 or older</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <select-control title="Marital Status" formControlName="maritalStatus"
                                            [selectedItem]="maritalStatusItem" [options]="maritalStatusOptions"
                                            (optionSelected)="selectMaritalStatus($event)"
                                            [validationClass]="(userRegistrationForm.get('personalInfo.maritalStatus')?.invalid && userRegistrationForm.get('personalInfo.maritalStatus')?.touched) ?? false">
                                        </select-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <select-control title="Nationality" formControlName="nationality"
                                            [selectedItem]="nationality" [options]="countryNameOptions"
                                            (optionSelected)="selectNationality($event)"
                                            [validationClass]="(userRegistrationForm.get('personalInfo.nationality')?.invalid && userRegistrationForm.get('personalInfo.nationality')?.touched) ?? false">
                                        </select-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <select-control title="Identifying Document"
                                            formControlName="identifyingDocument" [selectedItem]="documentItem"
                                            [options]="documentOptions" (optionSelected)="selectDocument($event)"
                                            [validationClass]="(userRegistrationForm.get('personalInfo.identifyingDocument')?.invalid && userRegistrationForm.get('personalInfo.identifyingDocument')?.touched) ?? false">
                                        </select-control>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label">Document Number</label>
                                            <input type="text" class="form-control" formControlName="documentNumber"
                                                [ngClass]="controlClass('personalInfo.documentNumber')" />
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <div class=" row">
                                <div class="col-lg-12">
                                    <div class="form-title-group">
                                        <div class="form-title">Contact Information</div>
                                        <div class="form-sub-title">Adding contact informations of the
                                            employee will
                                            helps you to call them at any circumstances.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <ng-container formGroupName="contactInfo">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label required">Phone Number</label>
                                            <div class="input-group">
                                                <div class="first-control lg-30">
                                                    <select-control title="Phone Code" [noLabel]="true"
                                                        formControlName="phoneCode" [selectedItem]="countryCode"
                                                        [options]="countryCodeOptions"
                                                        (optionSelected)="selectCountryCode($event)"
                                                        customClass="no-label list-lg"
                                                        [validationClass]="(userRegistrationForm.get('contactInfo.phoneCode')?.invalid && userRegistrationForm.get('contactInfo.phoneCode')?.touched) ?? false">
                                                    </select-control>
                                                </div>
                                                <div class="second-control lg-70">
                                                    <input type="number" class="form-control"
                                                        formControlName="phoneNumber"
                                                        [ngClass]="controlClass('contactInfo.phoneNumber')" />
                                                    <span class="focus-border"></span>
                                                    <label class="val-msg"
                                                        *ngIf="userRegistrationForm.get('contactInfo.phoneNumber')?.errors?.['pattern']">Only
                                                        Numbers Are Allowed</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label">Alternate Phone Number</label>
                                            <div class="input-group">
                                                <div class="first-control lg-30">
                                                    <select-control title="Alt Phone Code" [noLabel]="true"
                                                        formControlName="altPhoneCode" [selectedItem]="countryCode"
                                                        [options]="countryCodeOptions"
                                                        (optionSelected)="selectCountryCode($event)"
                                                        customClass="no-label list-lg"
                                                        [validationClass]="(userRegistrationForm.get('contactInfo.altPhoneCode')?.invalid && userRegistrationForm.get('contactInfo.altPhoneCode')?.touched) ?? false">
                                                    </select-control>
                                                </div>
                                                <div class="second-control lg-70">
                                                    <input type="number" class="form-control"
                                                        formControlName="altPhoneNumber"
                                                        [ngClass]="controlClass('contactInfo.altPhoneNumber')" />
                                                    <span class="focus-border"></span>
                                                    <label class="val-msg"
                                                        *ngIf="userRegistrationForm.get('contactInfo.altPhoneNumber')?.errors?.['pattern']">Only
                                                        Numbers Are Allowed</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label required">Email Id</label>
                                            <input type="email" class="form-control" formControlName="emailId"
                                                [ngClass]="controlClass('contactInfo.emailId')" />
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label">Emergency Contact Number</label>
                                            <input type="text" class="form-control"
                                                formControlName="emergencyContactNumber"
                                                [ngClass]="controlClass('contactInfo.emergencyContactNumber')" />
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                                </ng-container>
                                <ng-container formGroupName="sponsorInfo">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label">Sponsor Name</label>
                                            <input type="text" class="form-control" formControlName="sponsorName"
                                                [ngClass]="controlClass('sponsorInfo.sponsorName')" />
                                            <span class="focus-border"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="inp-label">Sponsor Phone Number</label>
                                            <div class="input-group">
                                                <div class="first-control lg-30">
                                                    <select-control title="Sponsor Phone Code" [noLabel]="true"
                                                        formControlName="sponsorPhoneCode" [selectedItem]="countryCode"
                                                        [options]="countryCodeOptions"
                                                        (optionSelected)="selectCountryCode($event)"
                                                        customClass="no-label list-lg"
                                                        [validationClass]="(userRegistrationForm.get('sponsorInfo.sponsorPhoneCode')?.invalid && userRegistrationForm.get('sponsorInfo.sponsorPhoneCode')?.touched) ?? false">
                                                    </select-control>
                                                </div>
                                                <div class="second-control lg-70">
                                                    <input type="number" class="form-control"
                                                        formControlName="sponsorPhoneNumber"
                                                        [ngClass]="controlClass('sponsorInfo.sponsorPhoneNumber')" />
                                                    <span class="focus-border"></span>
                                                    <label class="val-msg"
                                                        *ngIf="userRegistrationForm.get('sponsorInfo.sponsorPhoneNumber')?.errors?.['pattern']">Only
                                                        Numbers Are Allowed</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-title-group">
                                        <div class="form-title">Communication Address</div>
                                        <div class="form-sub-title">Knowing the employee's address can be very helpful
                                            in this
                                            regard.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" formGroupName="communicationAddress">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label class="inp-label required">House / Apartment Name</label>
                                        <input type="text" class="form-control" formControlName="addressLine1"
                                            [ngClass]="controlClass('communicationAddress.addressLine1')" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label required">Area / Road Name</label>
                                        <input type="text" class="form-control" formControlName="addressLine2"
                                            [ngClass]="controlClass('communicationAddress.addressLine2')" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label">Landmark</label>
                                        <input type="text" class="form-control" formControlName="addressLine3"
                                            [ngClass]="controlClass('communicationAddress.addressLine3')" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label">City</label>
                                        <input type="text" class="form-control" formControlName="city"
                                            [ngClass]="controlClass('communicationAddress.city')" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label required">Pin / Zip Code</label>
                                        <input type="text" class="form-control" formControlName="pincode"
                                            [ngClass]="controlClass('communicationAddress.pincode')" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label required">District</label>
                                        <input type="text" class="form-control" formControlName="district"
                                            [ngClass]="controlClass('communicationAddress.district')" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label required">State</label>
                                        <input type="text" class="form-control" formControlName="state"
                                            [ngClass]="controlClass('communicationAddress.state')" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <select-control title="Country" validation="required" formControlName="country"
                                        [selectedItem]="nationality" [options]="countryNameOptions"
                                        (optionSelected)="selectNationality($event)"
                                        [validationClass]="(userRegistrationForm.get('communicationAddress.country')?.invalid && userRegistrationForm.get('communicationAddress.country')?.touched) ?? false">
                                    </select-control>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-title-group">
                                        <div class="form-title">Professional Information</div>
                                        <div class="form-sub-title">Gather professional data like job title, employee
                                            ID, and reporting structure for workplace-related purposes.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" formGroupName="professionalInfo">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label">Job Title / Designation</label>
                                        <input type="text" class="form-control" formControlName="jobTitle"
                                            [ngClass]="controlClass('professionalInfo.jobTitle')" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label">Employee ID</label>
                                        <input type="text" class="form-control" formControlName="employeeId"
                                            [ngClass]="controlClass('professionalInfo.employeeId')" />
                                        <span class="focus-border"></span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label">Date of Join</label>
                                        <input type="date" class="form-control cal-input"
                                            formControlName="dateOfJoining"
                                            [ngClass]="controlClass('professionalInfo.dateOfJoining')" />
                                        <span class="focus-border"></span>
                                        <label class="cal-icon"><i class="vi vi-calendar"></i></label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label class="inp-label">Remarks</label>
                                        <textarea class="form-control" formControlName="remarks"
                                            [ngClass]="controlClass('professionalInfo.remarks')"
                                            placeholder="Provide a brief about the employee if required."></textarea>
                                        <span class="focus-border"></span>
                                        <label class="val-msg"
                                            *ngIf="userRegistrationForm.get('professionalInfo.remarks')?.errors?.['maxlength']">Max
                                            Length is 500</label>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-lg-12">
                                    <div class="form-title-group">
                                        <div class="form-title">Outlets & Role Allocation</div>
                                        <div class="form-sub-title">Assign roles and responsibilities to users across
                                            various outlets for organized and efficient business operations.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <ng-container formGroupName="userRole">
                                        <div class="form-group">
                                            <label class="inp-label required">Role</label>
                                            <input type="text" class="form-control" formControlName="role"
                                                [ngClass]="controlClass('userRole.role')" />
                                            <span class="focus-border"></span>
                                        </div>
                                    </ng-container>
                                </div>
                                <div class="col-lg-8">
                                    <ng-container formGroupName="userOutlets">
                                        <multi-select-control [title]="'Allowed Outlets'" validation="required"
                                            formControlName="allowedOutlets"
                                            [validationClass]="(userRegistrationForm.get('userOutlets.allowedOutlets')?.invalid && userRegistrationForm.get('userOutlets.allowedOutlets')?.touched) ?? false"
                                            [options]="['Outlet 1', 'Outlet 2', 'Outlet 3','Outlet 4']"></multi-select-control>
                                    </ng-container>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-lg-12">
                                    <div class="form-title-group">
                                        <div class="form-title">User Status & Credentials</div>
                                        <div class="form-sub-title">Manage user access with options for status (active,
                                            inactive) and credentials (username, password) for secure system
                                            interactions.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <select-control title="User Status" validation="required"
                                        formControlName="userStatus" [selectedItem]="userStatusItem"
                                        [options]="userStatusOptions" (optionSelected)="selectUserStatus($event)"
                                        [validationClass]="(userRegistrationForm.get('userStatus')?.invalid && userRegistrationForm.get('userStatus')?.touched) ?? false">
                                    </select-control>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label required">Password</label>
                                        <input class="form-control" type="{{ passwordHide ? 'text' : 'password' }}"
                                            formControlName="password" [ngClass]="controlClass('password')" />
                                        <span class="focus-border"></span>
                                        <label class="toggle-eye" (click)="togglePasswordVisibility('password')">
                                            <i class="vi {{ passwordHide ? 'vi-eye-off' : 'vi-eye' }}"></i>
                                        </label>
                                        <label class="val-msg"
                                            *ngIf="userRegistrationForm.get('password')?.errors?.['pattern']">
                                            At least 6 characters long, 1 uppercase with 1 lowercase
                                            and 1 numeric digit</label>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="inp-label required">Confirm Password</label>
                                        <input class="form-control"
                                            type="{{ confirmPasswordHide ? 'text' : 'password' }}"
                                            formControlName="confirmPassword"
                                            [ngClass]="{'is-invalid': userRegistrationForm.get('confirmPassword')?.value !== userRegistrationForm.get('password')?.value && userRegistrationForm.get('confirmPassword')?.touched}" />
                                        <span class="focus-border"></span>
                                        <label class="toggle-eye" (click)="togglePasswordVisibility('confirmPassword')">
                                            <i class="vi {{ confirmPasswordHide ? 'vi-eye-off' : 'vi-eye' }}"></i>
                                        </label>
                                        <span class="focus-border"></span>
                                        <label class="val-msg"
                                            *ngIf="userRegistrationForm.get('confirmPassword')?.value !== userRegistrationForm.get('password')?.value && userRegistrationForm.get('confirmPassword')?.touched">Passwords
                                            does not match</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="action-panel">
                                        <div class="action-title danger">Do you want to delete this user?</div>
                                        <div>Deleting user account is a permanent action, and it cannot be reversed. you
                                            can
                                            click here to <a class="action-delete">Delete User Permanently</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="btn-list">
                                <button class="btn btn-success" (click)="onRegisterUser()">REGISTER</button>
                                <button class="btn btn-danger" (click)="onCancelClick()">CANCEL</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-container>


<app-dialog *ngIf="formChangeWarningDialog" type="confirm" [customClass]="'delete justify'" [title]="'Discard Changes?'"
    [message]="'Are you sure you want to discard the changes? Changes you made may not be saved.'"
    (confirmClick)="onBackConfirmClick()" (cancelClick)="onCancelClearChanges()"></app-dialog>

<app-toaster *ngIf="alertSuccess" type="success" position="top-right" customClass="" [title]="false"
    message="Great, there's a new user added!"></app-toaster>